img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.out {
  margin-bottom: 36px;
  overflow: hidden;

  @include lg {
    padding-top: 200px;
  }
}

.is-hidden {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
