@import "src/assets/styles/variables/index";
@import "src/assets/styles/helpers/index";

.wrap {
  background-color: #3D3D3D;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 20px 34px;
}

.nav {
  display: flex;
  align-items: center;

  a {
    display: block;
    padding: 16px 32px;
    text-decoration: none;
    @include ff-bold;
    color: $primary;
    border-radius: 30px;
    transition: all .3s ease;
    @include glass-hover-animation;

    &:not(:last-child) {
      margin-right: 12px;
    }

    &:hover {
      background-color: #282828;
    }
  }
}

.is-nav-active {
  background-color: #282828;
}
